body {
    margin: 0;
    background-color: #ffd230;
}

.principal {
    position: relative;
}

.titulo {
    text-align: center;
}

.titulo, h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70pt;
    margin-top: 0;
    margin-bottom: 0;
}

.titulo, h5 {
    font-size: 14pt;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: lighter;
}

.imagem {
    position: absolute;
    object-fit: cover;
    z-index: 0;
    opacity: 0.8;
    border-radius: 25px;
    margin-top: 70px;
    margin-left: 188px;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    font-size: 12pt;
    margin-top: 320px;
    margin-left: 230px;
}

.navegacao, a {
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    color: #000000;
}

.navegacao .divisao1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 180px;
    height: 50px;
    border-radius: 15px;
}

.navegacao .divisao2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 180px;
    height: 50px;
    border-radius: 15px;
}

.navegacao .divisao3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 180px;
    height: 50px;
    border-radius: 15px;
    margin-right: 230px;
}

