@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    background-color: #ffd230;
}

/* Estiliza o conteúdo principal */
.principal {
    position: relative;
}

.titulo {
    text-align: center;
}

.titulo, h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 70pt;
    margin-top: 0;
    margin-bottom: 0;
}

.titulo, h5 {
    font-size: 14pt;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: lighter;
}

.imagem {
    position: absolute;
    object-fit: cover;
    z-index: 0;
    opacity: 0.8;
    border-radius: 25px;
    margin-top: 70px;
    margin-left: 188px;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    font-size: 12pt;
    margin-top: 320px;
    margin-left: 230px;
}

.navegacao, a {
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    color: #000000;
}

.navegacao .divisao1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 180px;
    height: 50px;
    border-radius: 15px;
}

.navegacao .divisao2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 180px;
    height: 50px;
    border-radius: 15px;
}

.navegacao .divisao3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 180px;
    height: 50px;
    border-radius: 15px;
    margin-right: 230px;
}

/* Estiliza a seção sobre */
.secao_sobre {
    display: flex;
    justify-content: center;      
    align-items: center;          
    gap: 60px;                    
    padding: 70px 0;              
    background-color: #ffffff;
    margin-top: 100px;
}

.secao_sobre img {
    border-radius: 25px;
}

.secao_sobre h2 {
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 15px;
    font-size: 60px;
}

.sobre_nos p {
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
}

.secao_sobre_secundaria {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    gap: 60px;                   
    padding: 70px 0; 
}

.secao_sobre_secundaria .div_sobre2 {
    width: 600px;
    height: 460px;
    background-color: #ffffff;
    border-radius: 25px;
}

.secao_sobre_secundaria h2 {
    margin-bottom: 15px;
    font-size: 60px;
}

.secao_sobre_secundaria p {
    font-size: 30px;
}

.div_sobre2 .div_destaque {
    margin-left: 50px;
    margin-top: 20px;
}

.div_destaque .destaque1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    color: #ffffff;
}

.div_sobre2 h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.div_sobre2 p {
    font-size: 14px;
}

.div_destaque .destaque2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    color: #ffffff;
}

.div_destaque .destaque3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    color: #ffffff;
}

/* Estiliza seção menu */
.menu {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center;
    background-color: #ffffff;
    padding: 60px 0;
    gap: 40px;               
}

.menu h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
}

.menu_items {
    display: flex;
    gap: 20px;            
}

.menu_item {
    width: 200px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.menu_item1 {
    background-image: url("/assets/images/pizzamargherita.png");
}

.menu_item2 {
    background-image: url("/assets/images/pizzacalabresa.png");
}

.menu_item3 {
    background-image: url("/assets/images/pizzafrango.png");
}

.menu_item4 {
    background-image: url("/assets/images/pizzaportuguesa.png");
}
.menu_item5 {
    background-image: url("/assets/images/pizzaquatroqueijo.png");
}
.menu_item6 {
    background-image: url("/assets/images/pizzabacon.png");
}

.descricao {
    width: 200px;
    height: 120px;
    background-color: #ffd230;
    border-radius: 15px;
}

.descricao p {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
}

/* Estiliza a seção de contato */
.secao_contato {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao_contato h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
    margin-bottom: 35px;
    margin-top: 35px;
}

.enviar_mensagem {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: #000000 solid 2px;
    width: 500px;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 20px;
}  

.secao_contato form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.secao_contato label {
    width: 400px;
}

.secao_contato input {
    border: none;
    height: 25px;
}

.secao_contato textarea {
    border: none;
}

.secao_contato button {
    margin-bottom: 20px;
    width: 100px;
    height: 25px;
    background-color: #ffffff;
    border: none;
    font-family: "Ubuntu", sans-serif;
}

.rodape {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}